<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<a href="/admin"><button>Turn back</button></a>

<a href="/admin/orders"><button>Go to order panel</button></a>
<a href="/admin/cars"><button>Go to car panel</button></a>
<a href="/admin/drivers"><button>Go to driver panel</button></a>
<a href="/admin/user"><button>Go to user panel</button></a>
<a href="/client"><button>Go to client panel</button></a>

<div>Full Cashier report</div>
<div>
    {{#orderId}}
        Order id {{orderId}}
    {{/orderId}}
    {{#bookingCash}}
    <a>Booking cash {{bookingCash}}</a>;
    {{/bookingCash}}
    {{#carServiceCash}}
    <a> Car Service Cash {{carServiceCash}}</a>;
    {{/carServiceCash}}
    {{#driverSalaryCash}}
    <a>Driver Salary Cash{{driverSalaryCash}}</a>;
    {{/driverSalaryCash}}
    {{#fuelCash}}
    <a>FuelCash {{fuelCash}}</a>;
    {{/fuelCash}}
    {{#balance}}
    <a> Balance {{balance}}</a>;
    {{/balance}}
</div>
<br/>

<div> Check info about one order</div>
<form method="post">
    <label>
        <input type="number" name="orderId" placeholder="Fill in order id">
    </label>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Get Info</button>
</form>

<a href="/admin/cashier/clean"><button>Clean cashier</button></a>

<div>
{{#response}}
    {{response}}
{{/response}}
</div>
</body>