<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<a href="/admin"><button>Turn back</button></a>

<a href="/admin/cashier"><button>Go to cashier panel</button></a>
<a href="/admin/cars"><button>Go to car panel</button></a>
<a href="/admin/drivers"><button>Go to driver panel</button></a>
<a href="/admin/orders"><button>Go to order panel</button></a>
<a href="/client"><button>Go to client panel</button></a>

<div>List of users</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{username}}</td>
            <td>{{roles}}</td>
            <td><a href="user/{{id}}">Edit user</a></td>
        </tr>
    {{/users}}
    </tbody>
</table>
</body>