<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<dv>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</dv>

<body>
<a href="/"><button>Turn back</button></a>

<div>Hello, admin</div>

<a href="/admin/cars">Car Control Page</a>
<br/>
<a href="/admin/drivers">Driver Control Page</a>
<br/>
<a href="/admin/user">User Control Page</a>
<br/>
<a href="/admin/orders">Order Control Page</a>
<br/>
<a href="/admin/cashier">Cashier Control Page</a>
<br/>
<a href="/client">Create an order</a>
</body>