<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<a href="/admin">
    <button>Turn back</button>
</a>

<a href="/admin/cashier">
    <button>Go to cashier panel</button>
</a>
<a href="/admin/cars">
    <button>Go to car panel</button>
</a>
<a href="/admin/orderss">
    <button>Go to order panel</button>
</a>
<a href="/admin/user">
    <button>Go to user panel</button>
</a>
<a href="/client">
    <button>Go to client panel</button>
</a>

<div>Add a new driver</div>
<form method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="number" name="salary" placeholder="Salary">
    <input type="number" name="mileage" placeholder="Mileage">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Add new Driver</button>
    <button type="reset">Reset</button>
</form>

<div>List of drivers</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Salary</th>
        <th>Status</th>
        <th>Mileage</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#drivers}}
        <tr>
            <td>{{name}}</td>
            <td>{{category}}</td>
            <td>{{salary}}</td>
            <td>{{status}}</td>
            <td>{{mileage}}</td>
            <td><a href="drivers/{{driverId}}">Edit driver</a></td>
        </tr>
    {{/drivers}}
    </tbody>
</table>



{{#response}}
    {{response}}
{{/response}}

</body>